@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
body{
    header{
        background-image: url(../img/fas-visual.png);
        background-repeat: no-repeat;
        background-position: top right;
        padding-bottom: 43.5%;
        h1{
            position: fixed;
            padding-top: 8%;
        }
        nav{
            ul{
                display: flex;
                justify-content: flex-end;
                list-style-type: none;
                padding-top: 8%;
                padding-right: 10%;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    padding: 15px 20px; 
                }
            }
        }

    }
}